# yaml-language-server: $schema=https://raw.githubusercontent.com/RedHatInsights/frontend-components/refs/heads/master/packages/config-utils/src/feo/spec/frontend-crd.schema.json
apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: policies-ui-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: policies
    spec:
      envName: ${ENV_NAME}
      title: Policies
      deploymentRepo: https://github.com/RedHatInsights/policies-ui-frontend
      API:
        versions:
          - v1
      frontend:
        paths:
          - /apps/policies
      image: ${IMAGE}:${IMAGE_TAG}
      feoConfigEnabled: false
      module:
        manifestLocation: /apps/policies/fed-mods.json
        analytics:
          APIKey: "apRCg9V6oMXCcnTingqRYW6m1er4hkCW"
        config:
          supportCaseData:
            product: Red Hat Insights
            version: Policies
        modules:
          - id: policies
            module: ./RootApp
            routes:
              - pathname: /insights/policies
              - pathname: /ansible/policies
parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/redhat-services-prod/insights-management-tenant/insights-policies/policies-ui-frontend
